<script lang="ts">
import { defineComponent, computed, toRefs } from 'vue';
import VChip from '@/components/Chip.vue';

export default defineComponent({
    name: 'VCell',
    props: {
        date: { type: Object, default: () => ({}) },
        isPrev: { type: Boolean, default: false },
        isCurrent: { type: Boolean, default: false },
    },
    components: {
        VChip,
    },
    setup(props) {
        const propsRef = toRefs(props);

        const cellClass = computed(() => {
            const day = propsRef.date.value?.day;
            if (day === 0 || day === 6) {
                return 'cell--weekend';
            } else if (propsRef.isPrev.value === true) {
                return 'cell--prev';
            } else if (propsRef.isCurrent.value === true) {
                return 'cell--current';
            }
            return '';
        });

        return {
            cellClass,
        };
    },
});
</script>

<template>
    <div class="cell" :class="cellClass">
        <div class="cell__date">{{ date.date }}</div>
        <v-chip v-for="event in date.events" :key="event.id" :event="event" />
    </div>
</template>

<style scoped>
.cell {
    max-width: var(--cell-size);
    max-height: var(--cell-size);
    width: calc(100% / 7);
    height: var(--cell-size);
    border-radius: 0.25rem;
    border: 1px solid var(--color-border);
    background: var(--color-main);
    padding: 0.2rem;
}
.cell__date {
    text-align: right;
    font-weight: 600;
}
.cell--current {
    border: 1px solid var(--color-dark-gray);
}
.cell--current:hover {
    border: 1px solid var(--color-gray);
}
.cell--current .cell__date {
    color: var(--color-green-date);
}
.cell--weekend .cell__date {
    color: var(--color-accent-50);
}
.cell--prev {
    background: var(--color-secondary);
    color: var(--color-gray);
}
</style>
