<script lang="ts">
import { defineComponent, computed } from 'vue';
import moment from 'moment';

import type { PropType } from 'vue';
import type { Event } from '@/types';
import { EventType } from '@/const';

export default defineComponent({
    name: 'VChip',
    props: {
        event: { type: Object as PropType<Event>, default: () => ({}) },
    },
    setup(props) {
        const chipClass = computed(() => {
            if (props.event.type === EventType.GREEN) {
                return 'chip--green';
            } else if (props.event.type === EventType.RED) {
                return 'chip--red';
            } else if (props.event.type === EventType.ORANGE) {
                return 'chip--orange';
            }
            return '';
        });

        return {
            time: moment(props.event.date).format('HH:mm'),
            chipClass,
        };
    },
});
</script>

<template>
    <div class="chip" :class="chipClass">
        {{ time }}
        {{ event.name }}
    </div>
</template>

<style scoped>
.chip {
    border-radius: 0.2rem;
    padding: 0.2rem 0.4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    z-index: 2;
    font-size: 0.75rem;
    cursor: pointer;
}
.chip:not(:first-of-type) {
    margin-top: 0.1rem;
}
.chip--green {
    background: var(--color-green);
    color: var(--color-green-text);
}
.chip--red {
    background: var(--color-red);
    color: var(--color-red-text);
}
.chip--orange {
    background: var(--color-orange);
    color: var(--color-orange-text);
}
.chip:hover {
    overflow: visible;
    display: inline-block;
    width: auto;
    z-index: 100;
}
</style>
