:root {
  --color-main: white;
  --color-secondary: rgb(242,242,242);
  --color-gray: rgb(158,158,158);
  --color-dark-gray: rgb(108,108,108);
  --color-text: black;
  --color-text-50: rgba(0, 0, 0, 0.5);
  --color-accent: rgb(18, 70, 237);
  --color-accent-50: rgba(18, 70, 237, 0.5);
  --color-border: lightgray;

  --color-green-date: green;
  --color-green: rgb(190, 252, 189);
  --color-green-text: rgb(34, 114, 0);
  --color-orange: rgb(252,239,189);
  --color-orange-text: rgb(114, 101, 7);
  --color-red: rgb(234, 192, 184);
  --color-red-text: rgb(153, 14, 7);

  --cell-size: 120px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
