<script setup lang="ts">
import VCalendar from '@/components/Calendar.vue';
import { EventType } from '@/const';

const events = [
    {
        id: 1,
        name: 'asdfasdfasdfasdfsadf',
        type: EventType.RED,
        date: '2022-03-01 16:00',
    },
    {
        id: 3,
        name: 'asdfasdfasdfasdfsadf',
        type: EventType.ORANGE,
        date: '2022-03-02 16:00',
    },
    {
        id: 2,
        name: 'asdfasdfasdfasdfsadf',
        type: EventType.GREEN,
        date: '2022-03-02 12:00',
    },
];
</script>

<template>
    <div class="wrapper">
        <v-calendar :events="events" />
    </div>
</template>

<style>
@import './assets/base.css';

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;

    font-weight: normal;
}
</style>
